:root {
  --bg: #f5f0e8;
  --ink: #1a1208;
  --accent: #d4522a;
  --accent2: #2d6a4f;
  --muted: #8a7968;
  --tag-bg: #e8e0d0;
  --card: #fff9f2;
  --border: #d6cfc2;
}

@keyframes ticker-animation {
  to {
    transform: translateX(-50%);
  }
}

.ticker-wrap {
  width: 100%;
  background: var(--accent);
  color: #fff;
  overflow: hidden; /*so that pg horizontally scroll na karna pade*/
  position: sticky; /* so that it stays on top even after scrollinng vertically*/
  padding: 8px 0;
  white-space: nowrap; /* to prevent the text from wrapping to the next line */
  display: flex;
}

.ticker {
  animation: ticker-animation 28s linear infinite;
  display: flex;
  gap: 4rem;
  letter-spacing: 0.2rem;
  white-space: nowrap;
  font-family: "DB mono", monospace;
  width: max-content;
}

.ticker-text {
  flex-shrink: 0;
}
